{% extends "main/base.html" %}
{% block content %}
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Gallery</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'main-home' %}"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        <!-- Gallery Area Start -->
        <!-- News Area Start -->
        <section class="akame-news-area section-padding-0-80">
            <div class="container">
                <div class="row mx-sm-n4 akame-blog-masonary">

                    <!-- Single Blog Item -->
                    <div class="col-12 col-sm-6 col-lg-4 px-4 akame-blog-masonary-item mb-50 wow fadeInUp" data-wow-delay="200ms">
                        <!-- Single Post Area -->
                        <div class="single-post-area">
                            <div class="post-thumbnail">
                                <a href="single-blog.html"><img src="img/bg-img/33.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">Nina Dobrev Got a Major Haircut and Doesn't Look Like Nina Dobrev.</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date"><i class="icon_clock_alt"></i> September 27, 2018</a>
                                    <a href="#" class="post-comments"><i class="icon_chat_alt"></i> 10</a>
                                </div>
                                <p>Most people recognize the CFDA Awards for its slew of perfect gowns and skin-tight.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Item -->
                    <div class="col-12 col-sm-6 col-lg-4 px-4 akame-blog-masonary-item mb-50 wow fadeInUp" data-wow-delay="500ms">
                        <!-- Single Post Area -->
                        <div class="single-post-area">
                            <div class="post-thumbnail">
                                <a href="single-blog.html"><img src="img/bg-img/34.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">Finally: How to Make Your Aggressively Straight Hair Hold a Curl</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date"><i class="icon_clock_alt"></i> September 27, 2018</a>
                                    <a href="#" class="post-comments"><i class="icon_chat_alt"></i> 10</a>
                                </div>
                                <p>So I sought out an actual professional, i.e. celeb hairstylist Justine Marjan.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Item -->
                    <div class="col-12 col-sm-6 col-lg-4 px-4 akame-blog-masonary-item mb-50 wow fadeInUp" data-wow-delay="800ms">
                        <!-- Single Post Area -->
                        <div class="single-post-area">
                            <div class="post-thumbnail">
                                <a href="single-blog.html"><img src="img/bg-img/35.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">Yes, Emilia Clarke Just Cut Off All Her Hair Into a Tiny Bob</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date"><i class="icon_clock_alt"></i> September 27, 2018</a>
                                    <a href="#" class="post-comments"><i class="icon_chat_alt"></i> 10</a>
                                </div>
                                <p>Last night, Clarke appeared on Late Night with Seth Meyers, wearing a charcoal blazer.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Item -->
                    <div class="col-12 col-sm-6 col-lg-4 px-4 akame-blog-masonary-item mb-50 wow fadeInUp" data-wow-delay="200ms">
                        <!-- Single Post Area -->
                        <div class="single-post-area">
                            <div class="post-thumbnail">
                                <a href="single-blog.html"><img src="img/bg-img/36.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <a href="#" class="post-title">Megyn Kelly loses it over Kavanaugh FBI investigation.</a>
                                <div class="post-meta">
                                    <a href="#" class="post-date"><i class="icon_clock_alt"></i> September 27, 2018</a>
                                    <a href="#" class="post-comments"><i class="icon_chat_alt"></i> 10</a>
                                </div>
                                <p>NBC host Megyn Kelly on Monday lost her temper over the FBI investigation.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <a href="#" class="btn akame-btn active mt-30">Load More</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- News Area End -->

        <!-- Border -->
        <div class="container">
            <div class="border-top"></div>
        </div>
        <!-- Gallery Area Start -->

        </div>
    </section>
    <!-- Breadcrumb Area End -->
{% endblock content %}