{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Log In</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'main-home' %}"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        <!-- Login Area Start -->
        <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <!-- Book Icon -->
                <div class="book-now-btn">
                    <button class="btn akame-btn" type="submit">Login</button>
                </div>
                <br>
                <small class="text-muted ml-2">
                    <a href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
                <br><br>
                <small class="text-muted ml-2">
                    Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                </small>
            </div>
        </form>
        </div>
    <!-- Login Area Start -->

        </div>
    </section>
    <!-- Breadcrumb Area End -->



{% endblock content %}