{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Log Out</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'main-home' %}"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Logout</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        <!-- Login Area Start -->
        <div class="content-section">
            <div class="border-top pt-3">
                <small class="text-muted">
                    <a href="{% url 'login' %}">Log In Again</a>
                </small>
            </div>
        </div>
    <!-- Login Area Start -->

        </div>
    </section>
    <!-- Breadcrumb Area End -->



{% endblock content %}