{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

        <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Profile</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'main-home' %}"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Profile</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

        <!-- Profile Area Start -->
        <div class="content-section">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="book-now-btn">
                    <button class="btn akame-btn" type="submit">Update</button>
                </div>
            </form>
        </div>
        <!-- Profile Area End -->
        </div>
    </section>
    <!-- Breadcrumb Area End -->


{% endblock content %}