{% extends "main/base.html" %}
{% block content %}

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Upload</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'main-home' %}"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Upload</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- Upload Area Start -->

            <!-- Upload Area End -->
        </div>
    </section>
    <!-- Breadcrumb Area End -->

{% endblock content %}