{% extends "main/base.html" %}
{% load static %}
{% block content %}

<!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Gallery</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'main-home' %}"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!-- Gallery Area Start -->
    <section class="akame-news-area section-padding-0-80">
        <div class="container">
            <div class="row mx-sm-n4 akame-blog-masonary">
                {% for post in posts %}
                <div class="col-12 col-sm-6 col-lg-4 akame-portfolio-item haircuts mb-30 wow fadeInUp" data-wow-delay="500ms">
                    <div class="akame-portfolio-single-item">
                        <a href="{% url 'post-detail' post.id %}"><img src="{{ post.before_image.url }}" alt=""></a>

                        <!-- Overlay Content -->
                        <div class="overlay-content d-flex align-items-center justify-content-center">
                            <div class="overlay-text text-center">
                                <a href="{% url 'post-detail' post.id %}" class="post-title"><h4>{{ post.title }}</h4></a>
                                <a href="{% url 'post-detail' post.id %}" class="post-date"> <p>{{ post.author }} </p></a>
                                <a href="{% url 'post-detail' post.id %}" class="post-date"> <p>{{ post.date_posted|date:"F d, Y" }} </p></a>

                            </div>
                        </div>

                        <!-- Thumbnail Zoom -->
                        <a href="{% url 'post-detail' post.id %}" class="thumbnail-zoom"><i class="icon_search"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <a href="#" class="btn akame-btn active mt-30">Load More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Gallery Area End -->

    <!-- Border -->
    <div class="container">
        <div class="border-top"></div>
    </div>

{% endblock content %}