{% extends "main/base.html" %}
{% block content %}
        <section class="breadcrumb-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2>Post Delete</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'main-home' %}"><i class="icon_house_alt"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Post Delete</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

             <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <h2>Are you sure you want to delete the post "{{ object.title }}" ? </h2>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                        <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock content %}